// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.content-container {
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto;   /* Center the container horizontally */
    padding: 20px;    /* Add some padding to the content */
    background-color: #f5f5f5; /* Set a background color */
  }